* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: #DEF0FF;
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #000000;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 175px;
    cursor: pointer;
    padding-left: 50px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-right: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ABD8FF;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0px;
    background: #ABD8FF;
    position: absolute;
    left: 0;
    bottom: 0;
}

.navbar ul li:hover::after {
    width: 60%;
}
.error {
    color: red;
    font-size: 14px;
}

.signup-container {
    width: 100%;
    transform: translateY(+20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #175F95;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form input{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #175F95;
    border-radius: 5px;
}

.signup-form a {
    margin: 10px 0;
    color: #175F95;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}

.signup-form button {
    width: 200px;
    padding: 10px 0;
    margin-top: 20px;
    border: 2px solid #175F95;
    background-color: #175F95;
    color: #DEF0FF;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0F4568;
    border: 2px solid #DEF0FF;
}
